.main tr {
  .a-post-on-your-campa {
    color: #4a4a4a;
    font-size: 20px;
    font-weight: bold;
    line-height: 24px;
    text-align: center;
  }

  .it-may-not-be-ftc-co {
    color: #ff6b64;
    font-size: 14px;
    font-weight: bold;
    line-height: 16px;
    text-align: center;
  }

  .we-re-happy-to-infor {
    color: #181320;
    font-family: 'Lato', Arial, Helvetica, sans-serif;
    font-size: 15px;
    line-height: 20px;
  }

  .go-to-campaign-dashb {
    border-radius: 2px;

    a {
      font-family: 'Lato', Arial, Helvetica, sans-serif;
      font-size: 14px;
      font-weight: bold;
      line-height: 17px;
      text-align: center;
    }
  }

  .please-notice-that-o {
    padding: 11px;
    border: 2px dashed #ff6b64;
    border-radius: 3px;
    color: #878787;
    font-family: 'Lato', Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-style: italic;
    line-height: 17px;
  }
}

.thank-you-the-hypr {
  height: 34px;
  width: 88px;
  color: #4a4a4a;
  font-size: 12px;
  line-height: 17px;
  text-align: center;

  span {
    font-weight: bold;
  }
}
//resp
@media(max-width: 320px) {
  table.small_logo {
    width: 98px !important;
    height: 24px !important;

    img.small_logo_img {
      width: 98px !important;
      height: 24px !important;
    }
  }

  table.jumbotron_cont {
    width: 320px !important;

    img.hide__320 {
      mso-hide: all;
      overflow: hidden;
      max-height: 0;
      width: 0;
      display: none;
      line-height: 0;
      visibility: hidden;
    }

    img.show__320 {
      width: 320px !important;
      max-height: 106px !important;
      display: block !important;
      line-height: inherit !important;
      visibility: visible !important;
    }
  }

  table.main {
    width: 291px!important;

    table.small__text {
      width: 280px !important;
    }

    table.small__heading {
      width: 240px !important;
    }

    table.a-post-on-your-campa {
      font-size: 21px !important;
      line-height: 21px !important;
    }

    table.it-may-not-be-ftc-co {
      font-size: 12px !important;
      line-height: 14px !important;
    }

    table.we-re-happy-to-infor {
      font-size: 13px !important;
      line-height: 20px !important;
    }

    table.please-notice-that-o {
      padding: 13px 11px !important;
      font-size: 12px !important;
      line-height: 15px !important;
    }
  }

}
