.main tr {
  .a-post-on-your-campa {
    color: #4a4a4a;
    font-size: 20px;
    font-weight: bold;
    line-height: 24px;
    text-align: center;
  }

  .it-may-not-be-ftc-co {
    color: #ff6b64;
    font-size: 14px;
    font-weight: bold;
    line-height: 16px;
    text-align: center;
  }

  .we-re-happy-to-infor {
    color: #181320;
    font-family: 'Lato', Arial, Helvetica, sans-serif;
    font-size: 15px;
    line-height: 20px;
  }

  .go-to-campaign-dashb {
    border-radius: 2px;

    a {
      font-family: 'Lato', Arial, Helvetica, sans-serif;
      font-size: 14px;
      font-weight: bold;
      line-height: 17px;
      text-align: center;
    }
  }

  .please-notice-that-o {
    padding: 11px;
    border: 2px dashed #ff6b64;
    border-radius: 3px;
    color: #878787;
    font-family: 'Lato', Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-style: italic;
    line-height: 17px;
  }
}

.thank-you-the-hypr {
  height: 34px;
  width: 88px;
  color: #4A4A4A;
  font-size: 12px;
  line-height: 17px;
  text-align: center;
  span{
      font-weight: bold;
  }
}
